{{ define "main" }}
<h1>{{ .Title }}</h1>

<p>In this list we have arranged the Stabat Mater compositions in our collection by order of country of origin. Anonymous compositions have been left out. For a number of composers that have moved to other countries during their life, we've chosen the country where they were born. Not surprisingly, Italy is the winner!</p>

{{ $composers := where (where .Site.RegularPages "Section" "composers") "Params.is_index" "!=" true }}
{{ $byCountry := dict }}
{{ range $composers }}
  {{ $country := .Params.country | default "Unknown" }}
  {{ $existing := index $byCountry $country | default slice }}
  {{ $byCountry = merge $byCountry (dict $country (append . $existing)) }}
{{ end }}

{{ $countries := slice }}
{{ range $country, $_ := $byCountry }}
  {{ $countries = append $country $countries }}
{{ end }}
{{ $countries = sort $countries }}

{{ range $countries }}
{{ $country := . }}
{{ $list := index $byCountry $country }}
<h2 id="{{ $country | urlize }}">{{ $country }}</h2>
<ul>
  {{ range sort $list "Title" "asc" }}
  {{ $born := .Params.born }}
  {{ $died := .Params.died }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ if $born }}({{ $born }}{{ if $died }}–{{ $died }}{{ end }}){{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}

{{ end }}
